In [1]:
import pandas as pd

In [92]:
df = pd.read_csv('Uncleaned_DS_jobs.csv', index_col = 'index')

In [93]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
index,,,,,,,,,,,,,,
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [5]:
# missing values, duplicates, standardizing, correcting typos & inconsistent entries

In [26]:
df.isna().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [94]:
# Removing columns I won't be needing.
df.drop(columns = ['Rating', 'Headquarters', 'Founded', 'Sector', 'Revenue', 'Competitors', 'Industry'], inplace = True)

In [95]:
df

,Job Title,Salary Estimate,Job Description,Company Name,Location,Size,Type of ownership
index,,,,,,,
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,Nonprofit Organization
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",ManTech\n4.2,"Chantilly, VA",5001 to 10000 employees,Company - Public
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,Private Practice / Firm
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,INFICON\n3.5,"Newton, MA",501 to 1000 employees,Company - Public
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions\n2.9,"New York, NY",51 to 200 employees,Company - Private
...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,TRANZACT\n3.6,"Fort Lee, NJ",1001 to 5000 employees,Company - Private
668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,JKGT,"San Francisco, CA",-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,AccessHope,"Irwindale, CA",-1,-1
670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,ChaTeck Incorporated\n5.0,"San Francisco, CA",1 to 50 employees,Company - Private
671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,1-800-Flowers\n2.7,"New York, NY",1001 to 5000 employees,Company - Public

In [104]:
# chaecking for duplicates
df.duplicated().sum()

2

In [96]:
# checking for columns that contain invalid value

columns_with_invalid = df[(df == '-1').any(axis=1)]

columns_with_invalid

,Job Title,Salary Estimate,Job Description,Company Name,Location,Size,Type of ownership
index,,,,,,,
154,ELISA RESEARCH SCIENTIST (CV-15),$90K-$109K (Glassdoor est.),"Covaxx, a subsidiary of the UBI Group, has joi...",Covid-19 Search Partners,"Hauppauge, NY",-1,-1
158,Machine Learning Engineer,$101K-$165K (Glassdoor est.),Overview\n\nRadical Convergence is a fast-pace...,Radical Convergence,"Reston, VA",-1,-1
351,Data Scientist,$122K-$146K (Glassdoor est.),About Our AI/ML Team\n\nOur mission is to buil...,Point72 Ventures,"Palo Alto, CA",-1,-1
357,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
358,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
359,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
360,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
361,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
362,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
388,Data Scientist,$110K-$163K (Glassdoor est.),"Job Description\nAs a Data Scientist, you will...",HireAi,"San Francisco, CA",-1,-1
389,Data Scientist,$110K-$163K (Glassdoor est.),"Job Description\nAs a Data Scientist, you will...",HireAi,"San Francisco, CA",-1,-1
459,Data Scientist,$69K-$116K (Glassdoor est.),We are looking for a highly motivated data sci...,Blue Cloak LLC,"Sterling, VA",-1,-1
495,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
496,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
497,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
498,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
499,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
500,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1
519,"Scientist / Group Lead, Cancer Biology",$212K-$331K (Glassdoor est.),"Scientist / Group Lead, Cancer Biology\nLocati...",Monte Rosa Therapeutics,"Cambridge, MA",-1,-1
555,Data Scientist,$128K-$201K (Glassdoor est.),"Job Description\nAs a Data Scientist, you will...",HireAi,"San Francisco, CA",-1,-1
613,Data Scientist,$87K-$141K (Glassdoor est.),DESCRIPTION\n\nGrainBridge is seeking a talent...,"GrainBridge, LLC","Omaha, NE",-1,-1
650,"Scientist / Group Lead, Cancer Biology",$92K-$155K (Glassdoor est.),"Scientist / Group Lead, Cancer Biology\nLocati...",Monte Rosa Therapeutics,"Cambridge, MA",-1,-1
656,Data Scientist,$105K-$167K (Glassdoor est.),Join our team dedicated to developing and exec...,Berico Technologies,"Fort Belvoir, VA",-1,-1
657,Data Scientist,$105K-$167K (Glassdoor est.),"Overview\n\nGood people, working with good peo...",Kehe Food Distributors,"Naperville, IL",-1,-1
660,Data Scientist,$105K-$167K (Glassdoor est.),"Location: Redmond, WA\nClient: Microsoft (Un-M...",Pactera Edge,"Redmond, WA",-1,-1
668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,JKGT,"San Francisco, CA",-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,AccessHope,"Irwindale, CA",-1,-1

In [97]:
# Dropping rows that contains invalid

mask = df['Size'] == '-1'
df = df.drop(df[mask].index)

In [81]:
df

,index,Job Title,Salary Estimate,Job Description,Company Name,Location,Size,Type of ownership,Industry
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",ManTech\n4.2,"Chantilly, VA",5001 to 10000 employees,Company - Public,Research & Development
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,INFICON\n3.5,"Newton, MA",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions\n2.9,"New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing
...,...,...,...,...,...,...,...,...,...
665,665,Data Scientist,$105K-$167K (Glassdoor est.),Criterion Systems seeks a Data Scientist to su...,"Criterion Systems, Inc.\n3.8","Vienna, VA",201 to 500 employees,Company - Private,IT Services
666,666,Data Scientist,$105K-$167K (Glassdoor est.),About Foundation Medicine:\n\nFoundation Medic...,Foundation Medicine\n4.0,"Boston, MA",1001 to 5000 employees,Company - Public,Biotech & Pharmaceuticals
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,TRANZACT\n3.6,"Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,ChaTeck Incorporated\n5.0,"San Francisco, CA",1 to 50 employees,Company - Private,Advertising & Marketing
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,1-800-Flowers\n2.7,"New York, NY",1001 to 5000 employees,Company - Public,Wholesale

In [98]:
# Checking again for columns that contains invalid

columns_with_invalid = df[(df == '-1').any(axis=1)]

columns_with_invalid

Empty DataFrame
Columns: [Job Title, Salary Estimate, Job Description, Company Name, Location, Size, Type of ownership]
Index: []

In [102]:
df.reset_index(drop=True)

,Job Title,Salary Estimate,Job Description,Company Name,Location,Size,Type of ownership
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,Healthfirst\n3.1,"New York, NY",1001 to 5000 employees,Nonprofit Organization
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",ManTech\n4.2,"Chantilly, VA",5001 to 10000 employees,Company - Public
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,Analysis Group\n3.8,"Boston, MA",1001 to 5000 employees,Private Practice / Firm
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,INFICON\n3.5,"Newton, MA",501 to 1000 employees,Company - Public
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions\n2.9,"New York, NY",51 to 200 employees,Company - Private
...,...,...,...,...,...,...,...
640,Data Scientist,$105K-$167K (Glassdoor est.),Criterion Systems seeks a Data Scientist to su...,"Criterion Systems, Inc.\n3.8","Vienna, VA",201 to 500 employees,Company - Private
641,Data Scientist,$105K-$167K (Glassdoor est.),About Foundation Medicine:\n\nFoundation Medic...,Foundation Medicine\n4.0,"Boston, MA",1001 to 5000 employees,Company - Public
642,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,TRANZACT\n3.6,"Fort Lee, NJ",1001 to 5000 employees,Company - Private
643,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,ChaTeck Incorporated\n5.0,"San Francisco, CA",1 to 50 employees,Company - Private
644,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,1-800-Flowers\n2.7,"New York, NY",1001 to 5000 employees,Company - Public

In [105]:
# Writing the cleaned dataset

df.to_csv('DS_Jobs_Cleaned.csv')